.schedule{
    /* background: white; */
    font-family: var(--font);
    padding-top: 5rem;
}


.schedule-content table {
  width : 90%;
  background-color: #da7b9e;
  margin:auto;
  border : 2px solid black;
  border-radius: 5px;
}

.appointment {
  font-size: large;
  padding : 0 2rem;
  border-radius: 10px;
  background-color:  #ae315f;
  color : white;
}

.date {
  padding : 0 2rem;
  border-radius: 10px;
  background-color:  #c44e79;
  color : white;
}

.date:hover {
  cursor: pointer;
  color : black;
  background-color: white;
}

.schedule-content tr {
  display : flex;
  justify-content: space-around;
  padding : 2rem 1rem;
}


.schedule-title h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 4rem;
    text-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}



/* .schedule-content{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    align-items: center;
} */
/* .languages p{
    color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: black;
}
.progress{
    width: 90%;
    margin-bottom: 1rem;
    height: 0.75rem;
    background: #e6e6e6;
    border-radius: 0.2rem 0.5rem 0.5rem 0.2rem;
    
}
.load{
    height: 95%;
    border-radius: 0.2rem 0.5rem 0.5rem 0.2rem;
    animation-duration: 2s;
    animation-timing-function: linear;
    box-shadow: var(--shadow);;
}
.html{
    width: var(--html-width);
    background: var(--html-color);
    animation: html-loading;
}
@keyframes html-loading {
  0% {
    width: 0;
    background: var(--html-color);
  }
  100% {
    width: 20%;
    background: var(--html-color);
  }
}
.css{
    width: var(--css-width);
    background: var(--css-color);
    animation: css-loading;
}
@keyframes css-loading {
  0% {
    width: 0;
    background: var(--css-color);
  }
  100% {
    width: var(--css-width);
    background: var(--css-color);
  }
}
.js{
    width: var(--js-width);
    background: var(--js-color);
    animation: js-loading;
}
@keyframes js-loading {
  0% {
    width: 0;
    background: var(--js-color);
  }
  100% {
    width: var(--js-width);
    background: var(--js-color);
  }
}
.vue{
    width: var(--vue-width);
    background: var(--vue-color);
    animation: vue-loading;
}
@keyframes vue-loading {
  0% {
    width: 0;
    background: var(--vue-color);
  }
  100% {
    width: var(--vue-width);
    background: var(--vue-color);
  }
}
.java{
    width: var(--java-width);
    background: var(--java-color);
    animation: java-loading;
}
@keyframes java-loading {
  0% {
    width: 0;
    background: var(--java-color);
  }
  100% {
    width: var(--java-width);
    background: var(--java-color);
  }
}
.tools{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  width: 90%;
}
.tools > img{
  color: #27A4F7;
    width: 4rem;
    height: 4rem;
    padding: 0.25rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 1.5px 1.5px 4px rgb(207, 207, 207);
    transition: 0.1s linear;
}
.tools > img:hover{
  background: rgb(242, 242, 242);
} */


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}